@import './assets/css/fonts.css'; /* Import your font definitions */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-[#1b1917];
  }

  /* Keep the custom font for h1, h2, and h3 - this overrides the html/body style */
  h1, h2, h3 {
    font-family: 'LHF Imperial', sans-serif;
  }
/* 
  div {
    font-family: 'Junior', sans-serif;
    font-style: normal;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 1px;
  }

  p {
    font-family: 'Junior', sans-serif;
    font-style: normal;
    font-size: 27px;
    line-height: 27px;
  } */

}

@layer components {
  .section-heading {
    @apply text-4xl font-bold mb-8 text-[#f59d0e];
  }
}